# Dependencies
node_modules
**/node_modules

# Build outputs
dist
**/dist
build
**/build

# Environment variables
.env
.env.local
.env.*.local

# Log files and folders
*.log
logs
**/logs

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Thumbs.db