

.chatbot-container{
    --chat-element-height: 20px;
    
    margin-top: var(--header-height);
    height: calc(100vh - var(--header-height) - 30px);
    border: 1px solid rgb(252, 252, 252);

}

.chatbot{
    margin-top: 45px;
    /* border: 3px solid rgb(0, 255, 34); */
    display: flex;
    height: calc(100% - 45px);
}



.chat-messages-container{
    border-radius: 10px;
    flex-grow: 4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 20px;
    padding: 30px;
    background-color: rgb(255, 255, 255);
}

.chat-messages{
    display: flex;
    flex-direction: column;
    overflow: scroll;
    scrollbar-width: none;
}

.chat-topic{
    text-align: center;
}

.bot-messages, .user-messages{
    display: flex;
    margin-top: 40px
}

.bot-messages{
    justify-content: start;
}

.user-messages{
    justify-content: end;
}

.chat-icon{
    height: 40px;
    margin: 0 10px
}

.user-message, .bot-message{
    max-width: 400px;
    min-width: 100px;
    border-radius: 20px;
    padding: 15px;
}

.user-message{
    border: 2px thin rgb(8, 103, 8);
    background-color: rgba(136, 239, 136, 0.866);
    box-shadow: 0 3px 5px rgb(16, 112, 82);
}

.bot-message{
    border: 2px thin rgb(141, 225, 224);
    background-color: var(--bot-color);
    color: white;
    box-shadow: 0 3px 5px rgb(18, 95, 137);

}


.chat-input-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.chat-input-box{
    border: 1px solid ;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    padding: 20px;
    align-items: center;
    min-width: 20px;
    max-width: 900px;
    flex-grow: 1;
    box-shadow: 0 2px 20px rgb(219, 213, 213);
    transition: box-shadow 0.3s;
}


.chat-input{
    border: none;
    display: flex;
    justify-content: center;
    height: var(--chat-element-height);
    min-width: 300px;
    max-width: 900px;
    font-size: 15px;
    flex-grow: 1;
    cursor: text;
    background-color: transparent;
}

input:focus {
    outline: none;
}

.chat-sendbtn{
    height: calc(var(--chat-element-height) + 20px);
    width: 90px;
    border: none;
    border-radius: 30px;
    background-color: var(--bot-color);
    color: white;
    cursor:pointer;
    font-size: 15px;
}


