.chatbot-container{
    
    margin-top: var(--header-height);
    height: var(--content-height);
    border: 1px solid rgb(252, 252, 252);

}

.chatbot{
    margin-top: 45px;
    display: flex;
    height: calc(100% - 45px);
}